.btn-register {

  transition: opacity 150ms ease-in-out, box-shadow 0.15s ease-in-out;

}
.input-register {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:focus {
    color: #475f7b;
    background-color: #ffffff;
    border-color: #5a8dee;
    outline: 0;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  }
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  .wp-form-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .wp-btn {
        display: flex;
        gap: 20px;
        justify-content: center;
      .btn-save {
      }
    
    }
  }
  .wp-right {
    margin: 0 auto;
    .label-avatar {
      margin: 0 auto;
      display: block;
      border-radius: 5px;
      background-color: #4385f3;
      text-align: center;
      cursor: pointer;
      &:hover {
        background-color: #5d94f3;
      }
      span {
        color: white;
        font-size: large;
        font-weight: 600;
        line-height: 30px;
      }
      input {
        display: none;
      }
    }
  }
}
